*{
	margin: 0;
	padding: 0;
}

:root{
	--background-color-darktheme:rgb(30,30,30);
	--font-family-heading:'Allura';
	--linear-gradient-container:linear-gradient(to right,black,#390145,#1c0336,#2e0145,#1c0145,#030a6b,black);
}

body{
	background-color: var(--background-color-darktheme);
	font-family: cursive;

}


nav{
	background-color:black;
	padding: .5rem;
	margin: .5rem;
	margin-top: 1rem;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,.4);
	border-radius: 4px;	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.inline-div{
	display: inline-block;
}



#logo-name{
	color:green;
	font-family:sans-serif;
}

#logo-img img{
	border-radius: 15px;
    box-shadow: 3px 3px 9px 2px grey;
    /* transition: transform 1s ease-in-out ,box-shadow 1s ease-in-out;
    animation: up-down 1s ease-in-out alternate infinite; */
  }


@keyframes up-down{
	from{
		transform: translate(-2px , -2px);
		box-shadow: 5px 5px 9px 2px white;
	}
	25%{
		transform: translate(-3px , -3px);
		box-shadow: 6px 6px 9px 2px white;
	}
	50%{
		transform: translate(-4px , -4px);
		box-shadow: 7px 7px 9px 2px white;
	}75%{
		transform: translate(-5px , -5px);
		box-shadow: 8px 8px 9px 2px white;
	}
	to{
		transform: translate(-6px , -6px);
		box-shadow: 9px 9px 9px 2px white;
	}
}
#logo-img img:hover{
	transform: translate(-2px,-4px);
	box-shadow: 5px 7px 9px 2px white;
}

#logo-container h2{
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: .5rem;
	margin-bottom: .6rem;

}


.horizontal-list,#logo-container,#logo-img{
	display: inline-block;
}

.horizontal-list{
	margin-left: 5rem;
}

.horizontal-list li{
	display: inline-block;
	padding: .5em;
	vertical-align: text-bottom;
	margin:.6em;
}


.horizontal-list a{
	text-decoration: none;
	color: white;
    font-family: cursive;
}

 input[type='search']
{
	margin: .5rem;
	padding: .5rem 1rem;
	margin-bottom: .6rem;
	outline: none;
	font-family: cursive;

}

.Search{
    background: black;
    
	vertical-align: text-bottom;
	position: relative;
	top:-25%;
	border-radius: 10px;
	padding: 0 .5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
.fa-microphone{
	padding: .5rem 1rem;
	border:1px solid black;
}

.fa-search{
	vertical-align: sub;
	font-size: 145%;
	border-radius: 50px;
	padding: .5rem 1rem;
}


.horizontal-list li:hover{

	background-color:red;
	color: black;
	box-shadow: 0px 0px 2px 2px white;
}

.horizontal-list li:hover a{

	color: grey;

}

#name:hover{
	background-color: grey;
	color: black;
	box-shadow: 0px 0px 2px 2px white;
}
/*#searchbar{

	width: 30%;
	vertical-align: text-bottom;
}
#searchbar div{
	width: 100%;
}
#searchbar i{
	vertical-align: middle;
	position: relative;
	left: -12%;
	color: red;
	font-size: 1.8rem;
}*/
#notifi-bell{
	color: white;
	font-size: 2em;
	vertical-align: text-bottom;
}

#notifi-bell:hover{
	color: red;
}

.profile 
{
	color: white;

}

.profile div{
	color: white;
	vertical-align: text-bottom;
	display: inline-block;
	position: relative;
	
	font-size: 1.2rem;
	font-weight: bold;
	padding:  1rem;
	margin-right: .5rem;

}

.profile img{
	border-radius: 50%;
	max-width: 100%;
}

#profile-account{
	height: 0;
	width: 0;
	color: black;
	display: inline-block;
	position: absolute;
	top: 13%;
	right: 7%;
	background-color: white;
	transition:all .4s ease-in-out;
}



.profile a{
	text-decoration: none;
	color: white;

}

.dropdown{
	position: relative;

}

.dropdown .dropdown-content{
	display: none;
	position: absolute;
	min-width: 150px;
	right: 0;
	top: 0;
	z-index: 1;
	text-align: center;
	
}

.dropdown-content a{
	color: black;
	display: inline-block;
	width: 100%;
	background-color: white;
	text-decoration: none;
	padding:.2rem;
	
}

.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown-content a:hover{
	background-color: black;
	color: white;
}


 .profile{
	float: right;
}
/*#searchbar {
	position: relative;
	left: 10%;
}
*/

@media screen and (max-width: 1200px)
{
	.Search{
		display: none;
	}
	#bottom-musicplayer{
		margin-bottom: 25px;
	}

	#bottom-musicplayer #section3 #volume-range{
		display: none;
	}

}

@media screen and (max-width: 800px)
{
	#bottom-musicplayer{
		margin-bottom: 45px;
		justify-content: space-around;
	}
	#bottom-musicplayer #section3{
		display: none;
	}
}

@media screen and (max-width: 740px)
{
	#name{
		display: none;
	}
	section#carsoul-2-slider label span
	{
		font-size: 200%;
	}
	#bottom-musicplayer{
		margin-bottom: 45px;
	

	}
	#bottom-musicplayer #section3{
		display: none;
	}
	

	
}

@media screen and (max-width: 580px)
{
	.horizontal-list li:last-child{
		display: none;
	}

	.horizontal-list li{
		font-size: 1rem;
	}

	section#carsoul-2-slider label span
	{
		font-size: 100%;
	}

	#bottom-musicplayer{
		margin-bottom: 45px;
	}
	

	#bottom-musicplayer .dropdown{
		display: none;
	}

	#bottom-musicplayer #section3{
		display: none;
	}
}



#main-section{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	
}

#content-section{
	width: 100%;
	box-shadow: 5px 5px 5px 2px rgba(0,0,0,.4);
	height: auto;
	background-color: black;
	margin: 10px auto;
	padding:1rem;
	box-sizing: border-box;

}
.heading{
	color: green;
	font-weight: bold;
	padding: 3rem;
}
.seeall a{
	color: brown;
	font-weight: bold;
	padding: 1rem;
	text-decoration: none;
}


.container{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	padding: 1rem .5rem 1rem 0;
	width:100%;
}

#artists-list img{
	border-radius: 50%;
	transition: opacity .4s ease-in-out;
	border:1px outset white;
	box-shadow: 0px 0px 2px 2px white;
}

#artists-list img:hover , #latest-release img:hover,#latest-punjabi img:hover{
	opacity: .3;
}
#artists-list figcaption{
	color: white;
	padding-top: 0.5rem;
	text-align: center;
}

#latest-release figcaption ,#latest-punjabi figcaption{
	color: white;
	padding-top:0.5rem;

}
#latest-release img, #latest-punjabi img{
	border-radius: 10px;
}
#latest-release figcaption span,#latest-punjabi figcaption span{
		color: grey;
}

.song{
	float: right;

}
.song a{
	text-align: left;
}

.song a i {
	color:purple;
	margin-right: 10px;
}
#playlist-section {
	width: 26%;
	background-color: black;
	margin: 10px auto;
	flex-wrap: wrap;
	height: 100%;
	box-shadow: -5px -5px 5px 2px rgba(0,0,0,.4);
}

/* div.container:nth-child(2n)
{
	background-image: var(--linear-gradient-container);
} */

#playlist-section .heading span{
	font-size: 1.2rem;
}


.queue-img img{

	width: 50px;
	height: 50px;
	margin-right: .5rem;
}
.queue-mem .fa-heart{
	color:white;
}
.queue-mem{
	color: brown;
	position: relative;
	padding:0.5rem;
}

.queue-mem-content{
	color: white;
}

.queue-mem-content span{
	color: grey;
}

.queue-mem .dropdown-content i{
	color: black;
}

#playlist-section ul {
	list-style-type: square;
	color: white;
}

#playlist-section button{
	width: 100%;
	margin: auto;
	padding:.5rem;
	text-align: center;
	background-color: #363434;
	color: white;
	font-size: 1.5rem;
	outline: none;
	
}
/* #playlist-section .queue-mem:nth-child(2n)
{
	background-color:#21252D;
} */

.music-icon
{
	transform: translateY(-20px);
	padding-right: .6rem;
}
@media screen and (max-width: 1200px)
{
	#content-section{
		width: 90%;
	}
	#playlist-section{
		width:90% ;
		
	}
}

@media screen and (max-width: 1000px)
{
	#carsoul-2-slider{
		display: none;
	}
	#playlist-section{
		height: 70vh;
		overflow-y: auto;
	}
}

/*music player designing*/
#bottom-musicplayer{
	position: fixed;
	bottom: 1%;
	width: 90%;
	height: 5vw;
	z-index: 1000;
	background-color: rgba(32,36,44,.7);
	border: 1px solid lightgrey;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: none;
}


#section1,#section2,#section3{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

#section2{
	align-self: center;
}

#section1 div{
	padding: .4rem;
}

#section1 div span:last-child{
	color: grey;
}

#section2 i , #section2 img ,#section3 img ,#section3 div{
	padding: .4rem .7rem;
	cursor: pointer;
}

#section2 i:hover , #section2 img:hover ,#section3 img, #section3 button{
	opacity: .8;
	cursor: pointer;
}


#section3 button{
	padding: .2rem .3rem;
	content: red;
	border:1px solid red;
	border-radius: 5px;
	background-color: inherit;
	color: white;
	font-family: cursive;
	cursor: pointer;
}
#section3 button:hover{
	color:red;
}
input[type="range"] {
 -webkit-appearance: none;
}

input[type="range"]:focus {
 outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
 background:white;
 height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
 -webkit-appearance: none;
 height: 15px;
 width: 15px;
 background:pink;
 margin-top: -5px;
 border-radius: 50%;
}


#content-section .heading {
	margin-top :2rem;
	margin-bottom :3rem;
}

#latest-punjabi{
	margin-bottom:3rem;
}

figure , .queue-img{
	position: relative;


}

figure .fa-play-circle{
	display: none;
	position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    font-size: 5em;
    transition: .4s ease-in-out;
}

figure:hover .fa-play-circle{
	display: block;
}

.queue-mem .fa-play-circle{
	display: none;
	position: absolute;
	top: 20%;
	left: 20%;
	color: white;
	font-size: 2rem;

}
.queue-img:hover .fa-play-circle{
	display: block;
}
.fa-heart:hover{
	color:red;
}
.bell{
	padding:1rem;
	margin:1rem;
	height:300px;
}